@font-face {
  font-family: "SF-Pro Display";
  src: url("./res/font/SF-Pro.ttf") format("ttf");
}

header {
  padding-top: 40px;
  padding-left: 20px;
}

a {
  color: #8b8b8b;
  text-decoration: none;
  font-size: 18px;
}

.justify-center {
  justify-content: center;
  align-items: center;
}

.a-2 {
  width: 22px;
  height: 22px;
}

.box {
  display: inline-flex;
  width: 32px;
  height: 32px;
  background-color: #5468e7;
  border-radius: 8px;
}

.folio {
  width: 60px;
  height: 23px;
  margin-left: 8px;
}

.rect {
  width: 4px;
  height: 4px;
}

.list {
  list-style: none;
  display: none;
}

.item {
  padding: 20px;
}

.burger {
  background-color: transparent;
  border: none;
  margin-right: 10%;
}

.contact-us {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.first-pg-box {
  font-family: "Arial";
  width: 311px;
  padding-left: 20px;
}

.main-let {
  color: #232340;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.5px;
  font-weight: 700;
}

.sec-let {
  font-size: 14px;
  line-height: 28px;
  color: #606060;
}

.recent-work {
  width: 160px;
  height: 56px;
  margin-top: 17px;
  color: white;
  background-color: #5468e7;
  border-radius: 8px;
  position: absolute;
  justify-content: center;
  border: none;
  font-size: 16px;
  line-height: 22px;
}

.pc {
  width: 350px;
  height: 315px;
  padding-left: 20%;
  padding-top: 10%;
  /* max-width: 100%; */
}

.second-pg-box {
  margin-top: 20%;
  margin-left: -8%;
  width: 100vw;
  height: 1681px;
  color: white;
  font-family: "Arial";
  background-color: #232340;
  padding-top: 15%;
  padding-left: 10%;
}

.nav-box {
  display: inline-flex;
  font-size: 14px;
  padding-left: 7%;
}

.box-second {
  display: none;
}

.we-make {
  padding-top: 6%;
  margin-left: -35%;
  margin-bottom: 4%;
  width: 226px;
  height: 192px;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: -0.4px;
  color: white;
}

.arrow {
  display: inline-flex;
  padding-left: 5%;
}

.arrow-box {
  width: 48px;
  height: 48px;
  border-radius: 100px;
  background-color: #5468e7;
  border: none;
  margin-left: 2%;
}

.year-button {
  width: 144px;
  height: 48px;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 12px;
  background-color: transparent;
}

.group-147 {
  width: 585px;
  height: 400px;
  margin-left: -120px;
  margin-top: 40px;
}

.second-pg-content {
  padding-top: 10%;
  padding-left: 4%;
  width: 311px;
  height: 112px;
}

.content-a {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.2px;
}

.content-b {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #8b8b8b;
}

.contact-us-second {
  width: 160px;
  height: 56px;
  background-color: #5468e7;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  margin-top: 10%;
  color: white;
}

.ball-content {
  display: flex;
  margin-top: 320px;
  margin-left: 4%;
  width: 310px;
  height: 310px;
  border-radius: 100%;
  background-color: #232340;
  box-shadow: 0 0 20px #323259;
  text-align: center;
}

.ball-font-a {
  font-size: 140px;
  line-height: 167px;
}

.ball-font-b {
  font-size: 18px;
  line-height: 24px;
}

.year-left {
  display: none;
}

.third-pg-box {
  width: 100vw;
  padding-left: 10%;
  margin-left: -8%;
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0.0001) 0%,
    rgba(237, 229, 240, 0.504289) 100%
  );
  height: 1600px;
}

.div-third-pg {
  padding-left: 10%;
  margin-top: -5%;
}

.nav-next-pg {
  padding-top: 10%;
  padding-left: 5%;
}

.what-we-do {
  display: inline-flex;
  padding-top: 10%;
  padding-left: 0%;
  font-size: 14px;
  line-height: 18px;
  color: #5468e7;
}

.we-do {
  margin-top: -32px;
  padding-left: 15%;
  font-size: 14px;
  line-height: 18px;
  color: #5468e7;
}

.we-make-two {
  padding-left: 0%;
  font-size: 40px;
  line-height: 48px;
  color: #232340;
}

.bg-cards {
  color: #5468e7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -7%;
  margin-bottom: 6%;
  width: 311px;
  height: 244px;
  border-radius: 32px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cir-cards {
  width: 91px;
  height: 91px;
  border-radius: 100%;
  margin-left: -10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth-pg-box {
  padding-left: 10%;
  margin-left: -8%;
  background: white;
  height: 3612px;
}

.sec-let-two {
  width: 311px;
  height: 282px;
  margin-top: -5%;
  margin-left: 7%;
}

.bg-cards-two {
  margin-left: 3%;
  height: 355px;
  margin-top: 10%;
}

.margin {
  margin-left: 3%;
}

.fifth-pg-box {
  width: 100vw;
  padding-left: 10%;
  margin-left: -8%;
  margin-top: 10%;
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0.0001) 0%,
    rgba(237, 229, 240, 0.504289) 100%
  );
  height: 1240px;
}

.list-pg-five {
  list-style: none;
  font-style: normal;
  margin-top: -40%;
}

.bg-cards-three {
  background-color: white;
  height: 175px;
}

.sixth-pg-box {
  background-color: white;
  height: 1105px;
}

.bg-big {
  background-color: #5468e7;
  height: 548px;
  margin-top: 10%;
  margin-left: 6%;
}

.home-box {
  width: 311px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #d8d8d8;
  background-color: transparent;
  color: #606060;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10%;
  margin-left: 6%;
}

@media (min-width: 750px) {
  header {
    padding-top: 80px;
    padding-left: 80px;
  }

  .f {
    display: flex;
  }

  .a-2 {
    width: 28px;
    height: 28px;
  }

  .box {
    width: 40px;
    height: 40px;
  }

  .folio {
    width: 75px;
    height: 30px;
  }

  .rect {
    width: 6px;
    height: 6px;
  }

  .list {
    display: flex;
  }

  .burger {
    display: none;
  }

  .contact-us {
    display: block;
    width: 180px;
    height: 64px;
    margin-right: 4%;
    background-color: #232340;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: white;
  }

  .first-pg-box {
    height: 720px;
    max-width: 100%;
    padding-top: 5%;
    padding-left: 8%;
  }

  .main-let {
    font-size: 84px;
    line-height: 100px;
    letter-spacing: -1px;
    width: 467px;
  }

  .sec-let {
    width: 400px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }

  .recent-work {
    margin-top: 96px;
    justify-content: center;
    font-size: 18px;
  }

  .pc {
    width: 1190px;
    height: 850px;
    left: 50vh;
  }

  .second-pg-box {
    height: 1670px;
  }

  .second-pg-content {
    width: 868px;
    height: 192px;
  }

  .box-second {
    display: flex;
    margin-right: 13%;
    margin-top: 15px;
    width: 24px;
    height: 24px;
  }

  .we-make {
    padding-top: 0%;
    margin-left: -15%;
    width: 668px;
    height: 144px;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.5px;
  }

  .arrow-box {
    width: 48px;
    height: 48px;
  }

  .year-button {
    display: none;
  }

  .group-147 {
    width: 900px;
    height: 580px;
    margin-top: 2%;
    padding-left: 370px;
  }

  .second-pg-content {
    padding-top: 10%;
    padding-left: 18%;
    width: 468px;
    height: 320px;
  }

  .content-a {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.5px;
  }

  .content-b {
    font-size: 18px;
    line-height: 32px;
  }

  .contact-us-second {
    width: 180px;
    height: 64px;
    font-size: 18px;
    line-height: 24px;
  }

  .ball-content {
    margin-top: -25%;
    margin-left: 50%;
    box-shadow: none;
    width: 402px;
    height: 402px;
  }

  .ball-font-a {
    font-size: 200px;
    line-height: 239px;
  }

  .ball-font-b {
    font-size: 24px;
    line-height: 32px;
  }

  .year-left {
    width: 45px;
    height: 500px;
    color: white;
    font-size: 18px;
    line-height: 24px;
    list-style: none;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    margin-top: -1060px;
    margin-left: 4%;
  }

  .third-pg-box {
    padding-top: 10%;
    height: 1090px;
  }

  .nav-rule {
    display: none;
  }

  .what-we-do {
    padding-top: 0%;
    margin-left: -10%;
    font-size: 16px;
    line-height: 24px;
  }

  .we-do {
    margin-top: -6%;
    padding-left: 0%;
    font-size: 18px;
    line-height: 24px;
  }

  .we-make-two {
    margin-top: 5%;
    margin-left: -10%;
    width: 668px;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.5pc;
  }

  .div-third-pg {
    padding-left: 10%;
    margin-left: 65%;
    margin-top: -14%;
  }

  .bg-cards {
    width: 293px;
    height: 480px;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.2px;
  }

  .cir-cards {
    margin-left: 10%;
    margin-bottom: 8%;
  }

  .blue-one {
    width: 293px;
    height: 560px;
    border-radius: 48px;
  }

  .cards-third-pg {
    list-style: none;
    font-style: normal;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 8%;
    padding-top: 10%;
  }

  .c-1 {
    border-radius: 32px 0px 0px 32px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .c-3 {
    border-radius: 0px;
  }
  .c-4 {
    border-radius: 0px 32px 32px 0px;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.1);
  }

  .fourth-pg-box {
    height: 3612px;
  }
  .correct {
    margin-top: -5%;
  }

  .our-partnership {
    font-weight: 700;
    font-size: 84px;
    line-height: 100px;
    letter-spacing: -1px;
    color: #232340;
    margin-left: -20px;
  }

  .sec-let-two {
    width: 467px;
    height: 64px;
    margin-top: -5%;
    margin-left: 7%;
    font-size: 18px;
    line-height: 32px;
  }

}
