* {
    padding: 0;
    margin: 0;
}

header {
    padding: 1rem;
}

header nav {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.home {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.home :nth-child(2) {
    align-self: end;
    width: 60px;
}

.home :nth-child(3) {
    align-self: end;
    width: 4px;
}

.headerRect {
    display: flex;
    width: 2rem;
    height: 2rem;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: #5468e7;
}

.headerRect img {
    width: 22px;
}

header ul {
    display: none;
    justify-content: center;
    list-style: none;
    gap: 20%;
}

header a {
    color: #8b8b8b;
    text-decoration: none;
}

.header-contact-button {
    display: none;
    width: 180px;
    height: 64px;
    background-color: #232340;
    border: none;
    border-radius: 8px;
    font: 18px normal 700;
    color: white;
    align-self: end;
}

.section-one {
    padding: 1rem;
    font-family: 'Arial';
    width: 311px;
}

.section-one h1 {
    color: #232340;
    font-size: 48px;
    line-height: 56px;
    padding-bottom: 2rem;
}

.section-one p {
    font-size: 14px;
    line-height: 28px;
    color: #606060;
}