@font-face {
  font-family: "SF-Pro Display";
  src: url("./res/font/SF-Pro.ttf") format("ttf");
}

body {
  font-family: "SF-Pro Display";
  position: relative;
  background-color: #ffffff;
  display: inline-flexbox;
  width: 1440px;
  height: 1024px;
  padding: 20px;
}

section {
  display: flex;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem;
}

.box {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #5468e7;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.a-2 {
  width: 28px;
  height: 28px;
}

.folio {
  width: 75px;
  height: 30px;
  margin-left: 16px;
}

.contact-button {
  width: 180px;
  height: 64px;
  border-radius: 8px;
  background-color: #232340;
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.recent-button {
  width: 180px;
  height: 64px;
  border-radius: 8px;
  background-color: #5468e7;
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.list {
  list-style: none;
  display: grid;
}

.item {
  padding: 15px;
}

.pc-image {
  width: 924px;
  height: 660px;
  position:relative;
  left: 5%;
}

.main-words {
  font-size: 84px;
  font-style: normal;
  color: #232340;
  padding-left: 6%;
}

@media (max-width: 725px) {
  body {
    width: 375px;
  }

  .box {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: #5468e7;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .a-2 {
    width: 22px;
    height: 22px;
  }

  .folio {
    width: 60px;
    height: 24px;
    margin-left: 11px;
  }

  .contact-button {
    display: none;
  }

  .list {
    display: none;
  }

  .pc-image {
    width: 624px;
    height: 360px;
    position:absolute;
  }

  .main-words {
    font-size: 48px;
  }
}