*{
  overflow-x: hidden;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

@media (min-width: 1000px) {
  .App{
    padding: 2rem 6rem;
  }
}